{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<!-- JQuery -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- Roboto: -->
<link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic,latin-ext,vietnamese,greek,greek-ext,cyrillic-ext' rel='stylesheet' type='text/css'>

<!-- Own inclusions: -->
<script src="{% static 'js/models.js' %}"></script>
<script src="{% static 'js/views.js' %}"></script>
<script src="{% static 'js/models.js' %}"></script>

<link rel='stylesheet' href="{% static 'styles/main.css' %}">
<link rel='stylesheet' href="{% static 'styles/index.css' %}">
<link rel='stylesheet' href="{% static 'styles/spinner.css' %}">

</head>

<body>

<div id="title_bar">
	<ul>

		<li>
		<h3 id="website_title">What's Going On in Philly?</h3>
		</li>
		<li>
		<a>
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</a>	
		</li>

	</ul>
</div>

<div id="search_query">
	<ul>
		<li>
		<select id= "category_select1" class="selector">
			{% for Category_id, Category in Categories.items %}
			<option value={{Category.category_id}}>{{Category.name}}</option>
			{% endfor %}
		</select>
		</li>
		<li>
		<select id = "category_select2" class="selector">
			{% for Category_id, Category in Categories.items %}
			<option value={{Category.category_id}}>{{Category.name}}</option>
			{% endfor %}
		</select>
		</li>
		<li>
		<select id="category_select3" class="selector">
			{% for Category_id, Category in Categories.items %}
			<option value={{Category.category_id}}>{{Category.name}}</option>
			{% endfor %}
		</select>
		</li>
		<li>
		<input class="span2" size="16" type="text" value="12-02-2012">
		<span class="add-on"><i class="icon-th"></i></span>
		</li>
		<li>
		<button type="submit" id="send_button">Search</button>
		</li>
	</ul>
</div>

<div id="content_container">
	<div id="search_help_text">
		<h4>
			Search for relevant events by selecting three categories.
		</h4>
	</div>

	<!-- Loading Spinner all in CSS. -->
	<div id='loading'>
		<img src="{% static 'images/loading.gif' %}">
	</div>	
	<div id="events">
		<h2 id="events_title">Events Found: </h2>
	</div>
	<div id="follow_up_action">
		<h3>Keep scrolling for more!</h3>
	</div>
</div>


</body>
</html>
